body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casino {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 50px #ff00dd;
    width: 90%;
    max-width: 550px;
}

input {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.info {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 20px 0;
    font-size: 1rem;
}
.info div
{
    background-color: black;
    padding:1rem 2rem;
    border-radius: 10px;
}

.slot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #165537;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell img {
    width: 80%;
    height: 80%;
    display:none;
    object-fit: contain;
}

button {
    padding: 10px 30px;
    font-size: 1.5rem;
    background-color: #10b981;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #036445;
    transform: scale(1.05);
}
