body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
}
.card {
    background: rgb(255, 255, 255);
    width: 300px;
    border-radius: 16px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.541);
    text-align: center;
    padding: 20px;
    display: none;
}
#word {
    font-size: 28px;
    margin: 40px 0;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
#answer {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}
.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
}
.correct {
    color: green;
}
.wrong {
    color: red;
}
.stats-title {
    color: #0066cc;
}



.difficulty {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dadada;
    padding: 15px 20px;
    border-radius: 12px;
    width: 200px;
  }
  .difficulty span {
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  .difficulty label {
    display: block;
    margin: 6px 0;
    font-size: 15px;
    cursor: pointer;
  }