body
{
    font-size: 2rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}
body>div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
}
input{
    border-radius: 18px;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}
.container
{   
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button
{
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: green;
}
.container div
{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#userNumber,#computerNumber 
{
    margin: 5% 0 5% 0;
    width:100px;
    height:100px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
#userPoint,#computerPoint 
{
    margin: 5% 0 5% 0;
    width:150px;
    height:70px;
    background-color: skyblue;
    border-radius: 10%;
    display: flex;
    justify-content: center;


}